@import 'variables';
@import 'reset';
@import 'base';
@import 'mixin';

$color: #00cc99;

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  @include pad{
    max-width: 720px;
  }
  @include mobile{
    max-width:375px;
  }
}
// .container-header{
//   max-width: 1176px;
//   margin: 0 auto;
// }


@import './layout/header';

.mb-3{
  margin-bottom: 24px;
}
.box {
  width: 100px;
  height: 100px;
  // background-color: red;
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $color;
  }
}
@import './layout/footer';
@import "./pages/faq";
@import "./pages/storelocation";
@import "./pages/blog";
@import "./pages/product";